{% extends 'time_table/base.html' %}

{% block title %}Daily{% endblock %}

{% block daily-active %}active{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container text-center">
            <h3>Lectures for {{ date_today }}</h3>
        </div>
        <div class="row">
            {% for lecture in lectures %}
                <div class="card col-md-3">
                    <div class="card-body">
                        <p class="card-text">Subject : {{ lecture.subject }}</p>
                        <p class="card-text">Class  : {{ lecture.semester }}</p>
                        <p class="card-text">Professor  : {{ lecture.professor }}</p>
                        <p class="card-text">Start Time  : {{ lecture.start_time }}</p>
                        <p class="card-text">End Time  : {{ lecture.end_time }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% else %}
        <div class="jumbotron">Please <a href="{% url 'login' %}">Login</a> to view timetable</div>
    {% endif %}
{% endblock %}